<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{fragments/layout}">
<!--    #1. layout 렌더링    -->
<head lang="ko">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
 	<div layout:fragment="content">
 		<h3>1. 텍스트 출력 -> th:text</h3>
 		<pre class="alert alert-success">
html 태그 안의 내용을 서버에서 보낸 값으로 교체
th:text="${msg}"
th:text="${nums}"</pre>
 		<p th:text="${msg}" />
 		<p th:text="${nums}" />
 		
 		<hr class="my-3">
 		<h3>2. 조건문 -> th:if </h3>
 		<pre class="alert alert-success">
특정 조건
th:if="${10>3}" 태그 벨류값 = 10 은 3 보다 크다
th:if="${10<3}" 태그 벨류값 = 10 은 3 보다 작다
</pre>
 		<p th:if="${10>3}">10 은 3 보다 크다</p>
 		<p th:if="${10<3}">10 은 3 보다 작다</p>
 		
 		<pre class="alert alert-success">
$ 변수
# 타임리프에서 제공하는 값 - 유틸리티 객체식
th:if="${#lists.size(nums) > 3}" 태그 벨류값 = 데이터가 3개 이상</pre>
 		<p th:if="${#lists.size(nums) > 3}">데이터가 3개 이상</p>
 		
 		<hr class="my-3">
 		<h3>3. 반복문 -> th:each </h3>
 		<pre class="alert alert-success">
$ 변수
# 타임리프에서 제공하는 값 - 유틸리티 객체식
|| 문자랑 같이 출력해야할때 사용
th:each="n : ${nums}" th:text="|숫자 : ${n}|"
</pre>
		<ul>
			<li th:each="n : ${nums}" th:text="|숫자 : ${n}|"></li>
		</ul>
 		
 		<hr class="my-3">
 		<h3>4. 속성변경 -> th:href, th:src, th:value </h3>
 		<pre class="alert alert-success">
@ 주소 
board 다른 경로 거치면
pageContent.request.contextPath
href="board/list -> th:href="@{/board/list}"
href="board/detail?id=27 -> th:href="@{/board/detail(id=27)}
</pre>
		<a href="board/list">BOARD</a>
		<a th:href="@{/board/list}" class="btn btn-primary">BOARD_List</a>
		<a th:href="@{/board/write}" class="btn btn-primary">BOARD_Write</a>
		
		<a href="board/detail?id=27">상세보기</a>
		<a th:href="@{/board/detail(id=27)}">상세보기</a>
 	</div>
</body>
</html>