@charset "UTF-8";

body{
    background-color: #121212;
}

.hide{
    position: absolute;
    left: -999px;
    width: 1px; height: 1px;
    overflow: hidden;
    border: 0;
    white-space: nowrap;
    /* 요소를 잘라서 시각적으로 완전히 숨김
     - 구형브라우저 호환 */
    clip:rect(0,0,0,0);
}
.aboutme{display: flex;}
header{position: fixed; width: 100%; z-index: 10;}

.project{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}