<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.the703.dao.AppUserDao">

	<insert id="insertAppUser" parameterType="AppUserDto">
		insert into appuser
			(app_user_id,
			 email,
			 password,
			 mbti_type_id,
			 created_at,
			 ufile,
			 mobile,
			 nickname,
			 provider,
			 provider_id
			)
		values
			(appuser_seq.nextval,
			 #{email},
			 #{password},
			 #{mbtiTypeId},
			 sysdate,
			 #{ufile},
			 #{mobile},
			 #{nickname},
			 #{provider},
			 #{providerId}
			)
	</insert>
	
	<select id="readAuthByEmail" parameterType="AppUserDto" resultMap="AppUserAuthResultMap">
		select
			u.email, u.password, a.auth
		from
			appuser u
		left join
			authorities a
		on
			u.email = a.email
		where
			u.email = #{email}
	</select>
	
	<resultMap type="AppUserAuthDto" id="AppUserAuthResultMap">
		<result property="email" column="email"/>
    	<result property="password" column="password"/>
    	<collection property="authList" ofType="com.the703.dto.AuthDto">
	        <result property="auth" column="auth"/>
	    </collection>
	</resultMap>
	
	<select id="findByEmail" parameterType="AppUserDto" resultType="AppUserDto">
		select * from appuser where email = #{email}
	</select>
	
	<select id="iddoubleByEmail" parameterType="AppUserDto" resultType="int">
		select count(*) from appuser where email = #{email}
	</select>

	<update id="updateAppUser" parameterType="AppUserDto">
		update appuser
		<set>
			<!-- <if test="password != null">
				password = #{password},
			</if> -->
			<if test="mbtiTypeId != null">
				mbti_type_id = #{mbtiTypeId},
			</if>
			<if test="ufile != null">
				ufile = #{ufile},
			</if>
			<if test="nickname != null">
				nickname = #{nickname},
			</if>
			<if test="mobile != null">
				mobile = #{mobile},
			</if>
			<if test="provider != null">
				provider = #{provider},
			</if>
			<if test="providerId != null">
				provider_id = #{providerId}
			</if>
		</set>
		where
			app_user_id = #{appUserId}
	</update>
	
	<delete id="deleteAppUser" parameterType="AppUserDto">
		delete from appuser
		where
			app_user_id = #{appUserId}
	</delete>
	
	<insert id="insertAuth" parameterType="AuthDto">
		insert into authorities
			(auth_id, email, auth)
		values
			(auth_seq.nextval, #{email}, #{auth})
	</insert>
	
	<delete id="deleteAuth" parameterType="AuthDto">
		delete from authorities where email = #{email}
	</delete>
	
</mapper>
